<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>smzdm.png</string>
			<key>Title</key>
			<string>smzdm</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,}$</string>
			<key>URL</key>
			<string>http://www.smzdm.com/?s={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://smzdm.com/</string>
			<key>Name</key>
			<string>Smzdm</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>mailto:unbounder.train@gmail.com</string>
			<key>Name</key>
			<string>Hang Yu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search the goods using smzdm.</string>
	<key>Extension Identifier</key>
	<string>com.trainyh.popclip.extension.smzdm</string>
	<key>Extension Name</key>
	<string>Smzdm</string>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Image File</key>
	<string>smzdm.png</string>
</dict>
</plist>
